body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0 auto;
  width: 100vw;
  overflow-x: hidden;
}

.clearfix:after {
  content:" ";
  display:table;
  clear:both;
}

p {
  font-size: 15px;
}

h1 {
  font-size:41px;
  font-weight:normal;
}

h2 {
  font-size: 23px;
}

h4 {
  font-size:13px;
  font-weight:normal;
}

li {
  display: inline-block;
  text-align: left;
}

a {
  color:#000;
}

a:hover {
  color: rgb(158, 191, 225);
}

a:active {
  color: rgb(0,170,102);
}


/**********************     NAV      ***************************/

#nav-content {
  width: 90vw;
  max-width: 1500px;
  margin: 2vh auto;
}

nav {
  width: 50px;
  float: left;
}

#hamburger-nav {
  width: 100%;
  height: 25px;
  box-sizing: border-box;
  position: relative;
  content: "";
  float: left;
  margin: 15% 0 1vh 0;
}

#hamburger-nav p {
  display: none;
}

#hamburger-nav span {
  width: 35px;
  height: 2px;
  position: absolute;
  display: block;
  content: "";
  background-color: #7f7f7f;
  border-radius: 1px;
}

#hamburger-nav span:first-of-type {
  top: .5em;
}

#hamburger-nav span:last-of-type {
  top: 1em;
}

#nav-links {
  background-color: rgba(0,0,0,0.91);
  width: 100vw;
  height: 100vh;
  margin-left: -5vw;
  padding: 2em;
  margin-top: 7vh;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  box-sizing: border-box;
}

#nav-links li {
  font-size: 14px;
  display: block;
  text-align: center;
  margin-top: 2em;
  padding-top: 1em;
}

#nav-links li a {
  font-size: 14px;
  color: #7f7f7f;
  display: block;
  text-decoration: none;
}

#nav-links li a:hover {
  color: rgb(158, 191, 225);
}

#nav-links li a:active {
  color: #fff;
}

#search form {
  width: 10em;
  height: 25px;
  text-align: center;
  border: 1px solid #7f7f7f;
  border-radius: 12px;
  display: inline;
  padding-bottom: 0;
  margin-bottom: 2%;
  margin-top: 1%;
  float: right;
  font-family: 'Open sans', sans-serif;
}

#search span {
  padding: 0;
}

.svg-div {
    float: left;
    padding: 1.5% 0 0 6%;
}

#search svg {
  width: 12px;
  padding: 0;
}

#search input {
  height: 22px;
}

#search input[type="search"] {
  width: 75%;
  font-size: 11px;
  margin: 0;
  border: none;
  outline: none;
}
#search input[type="search"]:focus {
  outline: none;
  font-size: 12px;
}

/**********************     SLIDER      ***************************/
/* .slick classes are over riding the default sytles imported from
//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css the rest of the
SLIDER styles are custom*/

#slider {
  height: auto;
  width: 100vw;
  max-width: 1500px;
  padding: 0;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

#slider h1 {
  text-align: center;
  position: relative;
  /*top: 2em;*/
  color: #fff;
  padding: 0 5vw;
  box-sizing: padding-box;
  font-weight: 300;
  height: 0;
  font-size: 2em;
  line-height: 1.5em;
}

#slider h3 {
  display:none;
  position: relative;
  color: #fff;
  font-weight: 700;
  text-align: center;
  height: 0;
  max-width: 98vw;
}

.slick-dots {
  width: 100%;
  bottom: 2em;
  position: relative;
}

.slick-active {
  background-color: transparent;
}

.slick-dots li.slick-active button:before {
  content: " ";
  opacity: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.slick-dots li button:before {
  content: " ";
  width: 15px;
  height: 15px;
  background-color: #fff;
  opacity: 1;
  border-radius: 50%;
}

.slick-dots li button {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.slick-dotted, .slick-slider {
  margin: 0;
  padding: 0;
}

.slick-slide {
  height: auto;
}

.slick-slide img {
  height: auto;
  top:0;
  float: left;
  margin: 0 auto;
  width: 100%;
  max-width: 100vw;
}

/**********************     MAIN CONTENT      ***************************/
article {
  width: 80vw;
  margin: 5% 10vw 10%;
  display: block;
  display: relative;
}

/*this needs to be applied to the div around the H1 or it will float beside
the slider and break the layout!*/
.clearfix-div {
  float: left;
  width: 100%;
  display: block;
}

article h1 {
  text-align: center;
  font-size: 38px;
}

article section {
  display: inline-block;
  width: 100%;
  margin: 20px 0;
  overflow: hidden;
  box-sizing: border-box;
  text-align: center;
  vertical-align: top;
}

section:last-of-type {
  padding-right: 0;
}

section h2 {
  font-size: 23px;
  height: 50px;
  font-weight: 700;
  line-height: 1.1em;
  margin: 4%;
}

section img {
  max-width: 353px;
  min-height: 183px;
  margin: 0;
  padding: 0;
}

section a {
  font-size: 14px;
  text-decoration: none;
}

/**********************     FOOTER      ***************************/
.container-wrapper {
  min-height: 100vh;
  margin-bottom: -30px;
}

footer {
  height: 40px;
  background:#000;
  color:#FFFFFF;
  text-align:center;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 5%;
  padding-left: 10vw;
  padding-right: 10vw;
  box-sizing: padding-box;
}

footer p {
  font-size: 11px;
  float: left;
  font-weight: 300;
  padding-top: 2%;
}

footer img {
  float: right;
  padding-top: 1%;
}

/*******************   Mobile - Landscape *****************/
@media (min-resolution: 2dppx) {

  /*#slider h1 {
    top: .5em;
  }*/

}

/*******************   Mobile - Landscape *****************/
@media (orientation: landscape) {

  footer {
    height: 50px;
  }

}


@media screen and (min-resolution: 2.5dppx) {

    #search form {
      height: 25px;
    }

    #slider h1 {
      /*top: 1em;*/
      font-size: 1.75em;
    }

    .slick-dots {
      bottom: 0;
    }

    .slick-dots li button:before {
      background-color: #7f7f7f;
    }

    .slick-dots li button {
      border: 2px solid #7f7f7f;
    }

}


/*******************     Larger Mobile - including subhead on Slider  *****************/
@media screen and (min-width: 550px) {

  #slider h3{
    display:block;
    font-size: 1em;
    top: 4em;
  }

}

@media screen and (min-width: 550px) and (min-resolution: 2.5dppx) {

  /*#slider h1 {
    top: .5em;
  }

  #slider h3{
    top: 5em;
  }*/

  .slick-dots {
    bottom: 2em;
  }

}

/*******************     Larger Mobile and DPR:2.5 Phones  *****************/

@media screen and (min-width: 550px) and (min-resolution: 2.5dppx) {

  #slider h1 {
    font-size: 2.2em;
    /*top: 1em;*/
  }

  .slick-dots li button:before {
    background-color: #fff;
  }

  .slick-dots li button {
    border: 2px solid #fff;
  }

}
/*******************     Tablet and Portrait *****************/
@media screen and (min-width: 700px)  and (orientation:  portrait) {

  #slider h1 {
    /*top: 1em;*/
    font-size: 2em;
  }

  #slider h3 {
    /*top: 3em;*/
    font-size: 1.5em;
  }

  .slick-dots{
    bottom: 5rem;
  }


  .slick-dots{
    bottom: 2em;
  }

}

/*******************     Tablet and Landscape *****************/

@media (min-width: 700px) and (orientation: landscape) {

  #slider h1 {
    font-size: 2.2em;
  }

  #slider h3 {
    /*top: 4.5em;*/
    font-size: 1.2em;
  }

  article {
    margin-top: 5%;
  }

  footer p {
    padding-top: 3%;
  }

  footer img {
    padding-top: 1.5%;
  }

}

/*******************     Tablet and DPR:2.5 Phones *****************/

@media (min-width: 700px) and (min-resolution: 2.5dppx) {

  .slick-dots li button:before {
    background-color: #fff;
  }

  .slick-dots li button {
    border: 2px solid #fff;
  }

}

/*******************     Screen size greater than 999px  *****************/

@media (min-width: 999px) {
/*
 #slider h1 {
   font-size: 3em;
   top: 1em;
 }

  #slider h3 {
    top: 4.5em;
    font-size: 1.75em;
  }*/
}


/**********************       Desktop - also were we see the 3 column view    ***************************/
@media screen and (min-width: 1199px) {

  #nav-content {
    margin: 0 12vw;
    width: 76vw;
  }

  nav {
    margin: 0;
    padding-top: 0;
    width: 82%;
    box-sizing: border-box;
      -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
  }

  #nav-links {
    background-color: transparent;
    width: 100%;
    height: 6vh;
    position: relative;
    margin-left: 0;
    margin-top: 3vh;
    margin-bottom: 0;
    padding: 0;
  }

  #nav-links li {
    margin-top: 0;
    padding-top: 0;
    text-align: center;
    display: inline;
    padding-right: 4%;
  }

  #nav-links li a {
    color: black;
    display: inline;
    padding-right: 0;
  }

  #nav-links li a:active {
    color: rgb(0,170,102);
  }

  #nav-links li a:hover {
    color: rgb(158, 191, 225);
  }

  #hamburger-nav {
    display: none;
  }

  #search {
    float: right;
    width: 18%;
  }

  #search form {
    width: 100%;
    display: inline;
    margin: 3vh 0 0 0;
  }

  #gallery_ul {
    margin: 0;
    padding: 0;
  }

  #slider h3 {
    top: 4em;
  }

  article {
    width: 76vw;
    margin: 2vh 12vw;
  }

  article h1 {
    text-align: center;
    margin: 2vh 0;
  }

  article section {
    display: inline-block;
    width: 33%;
    margin: 20px 0;
    padding-right: 1%;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
    vertical-align: top;
  }

  section:last-of-type {
    padding-right: 0;
  }

  section h2 {
    font-size: 22px;
    height: 44px;
  }

  section img {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  section a {
    font-size: 14px;
  }

  footer p {
    padding-top: 2%;
  }

  footer img {
    padding-top: 1%;
  }

}

/*******************     Laptops  and Desktops   *****************/

@media screen and (min-width: 1500px){

  #nav-content{
    margin: 0 auto;
  }


  .slider-container {
    width: 100vw;
    float: left;
    height: 308px;
    background-color: rgba(0,0,0, .85);
  }

  article{
    max-width: 1500px;
    margin: 0 auto;
  }

  footer {
    margin: 0;
    margin-top: 2%;
    padding: 0 21%;
  }

  footer p {
    padding-top: 1%;
  }

  footer img {
    padding-top: .75%;
  }

}
